#### Flow Control, Modules, Functions, Exceptions and Numpy
1. What does one need to do to use models?

#### 
1.What does one need to do to use a model?

In [ ]:
2. # One uses a python module to generate random variables, manipulate dates and time, calculate mathematical functions and detect regular text.

In [ ]:
3. # The nam one of the Numpy Modules is the Math Module. Below are three examples of the math code.

In [10]:
import math
print(math.ceil(64.30))

65

In [19]:
import math
a = 12, 15, 17, 105, 95
print(math.fsum(a))

244.0

In [22]:
import math
a = 244
print(math.sqrt(a))

15.620499351813308

In [24]:
import math
a = 15.620499351813308
print(math.fabs(a))

15.620499351813308

In [ ]:
# What is the Benefit of using exception handling and what are the 4 components used?

# Exception handling keeps the code going past many errors without python normally stopping when it detects an error.
# The 4 components are: try, except, else, finally

In [ ]:
# Numpy Arrays are like python lists and one of the benefits of using Numpy arrays is they store only one type of orderd data as opposed to python lists that store various types of data.
# Numpy Arrays are faster than python lists and occupy less memory.
# One of the main requirements about the 'dtype' Numpy Arrays is that that data should be a python object such as an Integer or float.
# Two uses of Nuumpy include; statistical and mathmatical operations
# the other library we will use with Numpy is Pandas
# The shape of Numpy arrays is multidimensional.
# A Tensor is multidimensional array with uniform data type.
# A Numpy Array stores one  type of specified data, while python lists store various types of data
# When creating an "empty" array, elements come from random values present in memory. It is therefore advisable to populate the arrays with own data before using the array.

In [25]:
# If Statementsif age is greater than or equal to 25, print "Renting a car is more afforrdable". If age is less than 25, print, "Renting a car is very expensive."

In [32]:
age = 25
print("Renting a car is more affordable") if age >= 25 else print("Renting a car is very expensive")

Renting a car is more affordable

In [56]:
age = 25
if age <= 25:
    print("Renting a car is more affordable")

Renting a car is more affordable

In [59]:
age = 25
if age >= 18:
    print("renting a car is very expensive") or print ("You cannot legally rent a car")

renting a car is very expensive
You cannot legally rent a car

In [63]:
# 3. Counting characters in the string and printing vowels
x = "The quick brown fox jumps over the lazy dog"
len(x)

43

In [114]:
str = "The quick brown fox jumps over the lazy dog"
print("Element at index 36:", str[36])
print("Element at index 2:", str[2])
print("Element at index 6:", str[6])
print("Element at index 12:", str[12])   
print("Element at index 5:", str[5])

Element at index 36: a
Element at index 2: e
Element at index 6: i
Element at index 12: o
Element at index 5: u

In [ ]:
# 4.printing out every peice of clothing and every fashionable color

In [133]:
# 4,1. clothing
couture = ("trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole")
print("Element at index 0", couture[0])
print("Element at index 1", couture[1])
print("Element at index 2", couture[2])
print("Element at index 3", couture[3])
print("Element at index 4", couture[4])
print("Element at index 6", couture[5])
print("Element at index 6", couture[6])print("Element at index 7", couture[7])

Element at index 0 trousers
Element at index 1 blouse
Element at index 2 bandana
Element at index 3 cumber band
Element at index 4 blazer
Element at index 6 vest
Element at index 6 french beret
Element at index 7 scarf

In [ ]:
# 4.1. Fashionable color
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}
print("Element at index 0", panettone[0])
print("Element at index 1", panettone[1])
print("Element at index 2", panettone[2])
print("Element at index 3", panettone[3])
print("Element at index 4", panettone[4])
print("Element at index 6", panettone[5])
print("Element at index 6", panettone[6])
print("Element at index 7", panettone[7])

TypeError: 'set' object is not subscriptable

In [252]:
# 5. Using range to calculate sum of numbers from 1 to 100.
import math
x = range(1, 100)
math.fsum(x)
print(x)

range(1, 100)

In [253]:
# 5.1 First try with range (1, 100)
import math
x = range(1,100)
print("Sum ...", math.fsum([1, 100]))

Sum ... 101.0

In [254]:
# 5.2 Second try with range (0,100) - Why does python not add 1 in this case?
import math
x = range(1,100)
print("Sum ...", math.fsum([0, 100]))

Sum ... 100.0

In [233]:
# 6. Printing the second item in the list
fruit_List = ["apple", "banana", "cherry"]
print("second element 2", fruit_List[2])

second element 2 cherry

In [137]:
panettone = ("cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire")
print("Element at index 1", panettone[1])
print("Element at index 2", panettone[2])
print("Element at index 3", panettone[3])
print("Element at index 4", panettone[4])
print("Element at index 6", panettone[5])
print("Element at index 6", panettone[6])
print("Element at index 7", panettone[7])

Element at index 1 fuchsia
Element at index 2 aqua
Element at index 3 maple
Element at index 4 auburn
Element at index 6 burnt sienna
Element at index 6 gunmetal blue
Element at index 7 Dark Sapphire

In [ ]:
# 7. Changing the value from apple to kiwi

In [168]:
My_Set = ["apple", "banana", "cherry"]
My_Set.insert(1, "kiwi")
My_Set.remove("apple")
print(My_Set)

['kiwi', 'banana', 'cherry']

In [ ]:
# 8. Using the append method to add "orange"

In [147]:
My_Set = ["apple", "banana", "cherry"]
My_Set.append("orange")
print(My_Set)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# 9. Using the Insert method to insert "lemon"

In [157]:
My_Set = ["apple", "banana", "cherry"]
My_Set.insert(4, "lemon")
print(My_Set)

['apple', 'banana', 'cherry', 'lemon']

In [ ]:
# 10. Using the remove method to remove banana

In [232]:
My_Set = ["apple", "banana", "cherry"]
My_Set.remove("banana")
print()

In [141]:
My_Set

['apple', 'cherry']

In [ ]:
# 11. Using negative indices

In [170]:
My_FruitList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print("Element at index -2", My_FruitList[-2])
print("Element at index -3", My_FruitList[-3])

Element at index -2 melon
Element at index -3 kiwi

In [ ]:
# 12. Using a range of indeces to print 3rd, fourth and fith items

In [211]:
My_FruitList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print( "3rd element at index 3", My_FruitList[3])
print("fourth element at index -3", My_FruitList[-3])
print("fith element at index -2", My_FruitList[-2])

3rd element at index 3 orange
fourth element at index -3 kiwi
fith element at index -2 melon

In [ ]:
# 13. Correct Syntax to print the number of items

In [179]:
My_FruitList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
len(My_FruitList)

7

In [ ]:
# 14. Reverse order

In [182]:
My_FruitList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
My_FruitList.reverse()
print(My_FruitList)

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [ ]:
# 15. Using DateTime module

In [190]:
import datetime as dt
a = dt.datetime.now()
print("Current Date and Time ...", a)
print("current time now...", a)

Current Date and Time ... 2025-01-13 00:30:34.268737
current time now... 2025-01-13 00:30:34.268737

In [ ]:
# 16. Simple function with 2 parameters

In [226]:
x = ("Wilson", "Sunday!")
print("Hi!", x[0],"Happy", x[1])
print("Happy", x[1])
print("Hi!", x[0])

Hi! Wilson Happy Sunday!
Happy Sunday!
Hi! Wilson

In [ ]:
#17. HANDLING ONE OF THE MOST COMMON EXCEPTIONS

In [231]:
try:
    print(test)
except:
    print("incomplete input")
finally:
    print("The 'try except' is finished")

incomplete input
The 'try except' is finished

In [257]:
import pandas as pd
age = [20,35,40,50]
years = pd.Series(age)
print(years), years, sap '\n'

SyntaxError: invalid syntax (962680678.py, line 4)

In [259]:
import pandas as pd
data ={'Name':['Wilson', 'Mazimba'],
       'Height':[1.67, 2],
       'industry':['Banking', 'public']}

In [14]:
import pandas as pd
pd.read_csv(r"C:\Users\Wilsom Mazimba\Downloads\titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
# Rename Column Names:
col_names = ["Id", "Survived", 
                "Passenger Class", "Full Name", 
                "Gender", "Age", "SibSp", "Parch", 
                "Ticket Number", "Price", "Cabin", "Station"]

In [20]:
titanic_data = pd.read_csv(r"C:\Users\Wilsom Mazimba\Downloads\titanic.csv", names = col_names)
print(titanic_data.head())

            Id  Survived Passenger Class  \
0  PassengerId  Survived          Pclass
1            1         0               3
2            2         1               1
3            3         1               3
4            4         1               1

                                           Full Name  Gender  Age  SibSp  \
0                                               Name     Sex  Age  SibSp
1                            Braund, Mr. Owen Harris    male   22      1
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
3                             Heikkinen, Miss. Laina  female   26      0
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1

   Parch     Ticket Number    Price  Cabin   Station
0  Parch            Ticket     Fare  Cabin  Embarked
1      0         A/5 21171     7.25    NaN         S
2      0          PC 17599  71.2833    C85         C
3      0  STON/O2. 3101282    7.925    NaN         S
4      0            113803     53.1   C123         S

In [21]:
# Skip Rows - expects an integer (number of rows at top of file to skip), or list of row numbers to skip individually
# here, we are skipping the first row (0-based)
titanic_data = pd.read_csv(r"C:\Users\Wilsom Mazimba\Downloads\titanic.csv", names = col_names, skiprows=[0])
# print(titanic_data.head())

# Save data to a new .csv file:
titanic_data = pd.read_csv(r"C:\Users\Wilsom Mazimba\Downloads\titanic.csv", names = col_names, skiprows=[0])
titanic_data.to_csv('use_titanic.csv', index=False)

# # Viewing the newly created .csv file
df = pd.read_csv('use_titanic.csv')
print(df)

      Id  Survived  Passenger Class  \
0      1         0                3
1      2         1                1
2      3         1                3
3      4         1                1
4      5         0                3
..   ...       ...              ...
886  887         0                2
887  888         1                1
888  889         0                3
889  890         1                1
890  891         0                3

                                             Full Name  Gender   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch     Ticket Number    Price Cabin Station
0        0         A/5 21171   7.2500   NaN       S
1        0          PC 17599  71.2833   C85       C
2        0  STON/O2. 3101282   7.9250   NaN       S
3        0            113803  53.1000  C123       S
4        0            373450   8.0500   NaN       S
..     ...               ...      ...   ...     ...
886      0            211536  13.0000   NaN       S
887      0            112053  30.0000   B42       S
888      2        W./C. 6607  23.4500   NaN       S
889      0            111369  30.0000  C148       C
890      0            370376   7.7500   NaN       Q

[891 rows x 12 columns]