#### Wilson Mazimba Homework3 - Revised
### 1. Use markdown formatting:

#### What is an Algorith
### An Algorithm is a series of steps to solve a problem
## Variables may not start with a number and a forward slash
## A Semantic Error is a correct command but cannot be comprehended by the computer or it does not make sense to produce the expected results.
## The number one rule of coding is to avoid complexity and to follow a copnsistent way of coding. The number one rule of debugging is to thoroughly understand the system you are trying to debug
## Five reserved words: and, lamda, if, del, elif, except, finally

In [213]:

#### 6. Write a multiline string with your name, favourite food, and dream job on 3 different lines:
a = ["""("Wilson Mazimba", "favorite food Nshima", "lives in st louis", "my favoorite food is Nshima", "and My dream job", "is data scientist")"""]
print(a)

['("Wilson Mazimba", "favorite food Nshima", "lives in st louis", "my favoorite food is Nshima", "and My dream job", "is data scientist")']

7. Assign 5 different data types to 5 different variables, At least one of them must be a string.

In [220]:
b = ["Wilson Mazimba","50.5", {"cherry", "Orange"}, "g", "False"]
print(b)

['Wilson Mazimba', '50.5', {'cherry', 'Orange'}, 'g', 'False']

In [222]:
b = ["Wilson Mazimba", "50.5", {"cherry", "Orange"}, "g", "False"]
len(b)

5

In [223]:
b = float("50.5"), str("Wilson Mazimba"), {"cherry", "Orange"}
print(b)

(50.5, 'Wilson Mazimba', {'cherry', 'Orange'})

In [224]:
b = ["Wilson Mazimba", "50.5", {"cherry", "Orange"}, "g", "False"]
print(L[4])

o

In [58]:
L = "Wilson Mazimba"
print(L[3:6])

son

In [226]:
x = "Savvy"
str("Learning Data Analytics and Python is Awesome!")
print(x)
print(str)

Savvy
<class 'str'>

In [1]:
x = "Learning Data Analytics and Python is Awesome!"
x[5:24]

'ing Data Analytics '

In [64]:
x = "Learning Data Analytics and Python is Awesome!"
j = x.replace("Awesome", "great")
print(j)

Learning Data Analytics and Python is great!

In [17]:
y = ("name", "age", "length")
print(y)

('name', 'age', 'length')

In [227]:
miniBio = {"Hi my name is Wilson Mazimba", "I am 6.7 mettres", "and 65 years old today"}
print(miniBio)

{'Hi my name is Wilson Mazimba', 'I am 6.7 mettres', 'and 65 years old today'}

In [68]:
age = (65)
age1 = float(65.5)
print(age1)

65.5

In [234]:
group = "Good Morning", "15", "157.5", "apples", "{Oranges", "pawpaw", {"mango", "berries", "jam"}
print(group)

('Good Morning', '15', '157.5', 'apples', '{Oranges', 'pawpaw', {'jam', 'mango', 'berries'})

In [252]:
group = ["Good Morning", "15", "157.5", "apples", "Oranges", "pawpaw", {"mango", "berries", "jam"}]
Newgroup = group.replace("Good Morning", "Good Evening")
print(group)

AttributeError: 'list' object has no attribute 'replace'

In [253]:
 x = 'Good Morning', '15', '157.5', ['apples', 'Oranges', 'pawpaw'], {'mango', 'berries', 'jam'}
l = x.replace('157.5', '700.2')
print(l)

AttributeError: 'tuple' object has no attribute 'replace'

In [255]:
Cell In[34], line 1
x = ('Good Morning', '15', '157.5', 'apples', 'Oranges', 'pawpaw', 'mango', 'berries', 'jam')
i = ('mats', 'books', 'tables')
j = x + i
print(j)

SyntaxError: invalid syntax (2475804370.py, line 1)

In [39]:
len(x)

46

In [40]:
simList = ("Hello", "my", "dear", "friend", "Wilson")
print(simList)

('Hello', 'my', 'dear', 'friend', 'Wilson')

In [71]:
simList = ('Hello', 'my', 'dear', 'friend', 'Wilson')
goods = ('tables', 'chairs', 'tvs')
Assets = simList + goods
print(Assets)

('Hello', 'my', 'dear', 'friend', 'Wilson', 'tables', 'chairs', 'tvs')

In [91]:
simList = ('Hello', 'my', 'dear', 'friend', 'Wilson')
goods = ('tables', 'chairs', 'tvs')
Assets = ('Hello', 'my', 'dear', 'friend', 'Wilson', 'tables,' 'chairs', 'tvs')
Invest = simList + goods + Assets
print(Invest)

('Hello', 'my', 'dear', 'friend', 'Wilson', 'tables', 'chairs', 'tvs', 'Hello', 'my', 'dear', 'friend', 'Wilson', 'tables,chairs', 'tvs')

In [94]:
tuple = ('cup', 'mug', 'spoon', 'folk', 'plate')*3
print(tuple[13])

folk

In [96]:
tuple2 = ('cup','folk' ,'mug', 'plate', 'spoon',)*3
print(tuple2)

('cup', 'folk', 'mug', 'plate', 'spoon', 'cup', 'folk', 'mug', 'plate', 'spoon', 'cup', 'folk', 'mug', 'plate', 'spoon')

In [108]:
tuple3 = ('folk' ,'mug', 'plate', 'spoon')
print(tuple3[3])
print(tuple3[2])
print(tuple3[1])
print(tuple3[0])

spoon
plate
mug
folk

In [109]:
tuple4 = (50)
print(tuple4)

50

In [110]:
tuple2 = ('cup','folk' ,'mug', 'plate', 'spoon')
tuple3 = ('folk' ,'mug', 'plate', 'spoon')
tuple5 = tuple2 + tuple2
print(tuple5)

('cup', 'folk', 'mug', 'plate', 'spoon', 'cup', 'folk', 'mug', 'plate', 'spoon')

In [114]:
Names = ("Mary", 258, "selina")
fruits = ("banana", "Mango", "apple", "Lemon")
fruits1 = Names + fruits
print(fruits1)

('Mary', 258, 'selina', 'banana', 'Mango', 'apple', 'Lemon')

In [256]:
fruits1 = {'Mary','joseph', 'selina', 'banana', 'Mango', 'Lemon'}
j = {'car'} 
list5 = fruits1 + j
print(list5)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

## Please explain why the above is unsupported!!

In [133]:
odd = ('one', 'three', 'five', 'seven')
fruits1 = ('Mary','joseph', 'selina', 'banana', 'Mango', 'Lemon')
Union = odd + fruits1
print(Union)

('one', 'three', 'five', 'seven', 'Mary', 'joseph', 'selina', 'banana', 'Mango', 'Lemon')

In [150]:
x = {"one", "three", "five", "seven", "joseph", "selina", "banana", "mango", "Lemon"}
y = x.pop()
print(y)

one

In [154]:
x = {'seven', 'Joseph', 'banana', 'mango'}
y = x.pop()
print(y)
print(x)

Joseph
{'seven', 'banana', 'mango'}

In [156]:
fruits1 = {'Mary','joseph', 'selina', 'banana', 'Mango', 'Lemon'}
y = fruits1.pop()
print(y)
print(fruits1)

Mango
{'Lemon', 'banana', 'selina', 'Mary', 'joseph'}

In [157]:
Remove_another = {'Lemon', 'banana', 'selina', 'Mary', 'joseph'}
Remove_another2 = Remove_another.pop()
print(Remove_another)
print(Remove_another2)

{'banana', 'selina', 'Mary', 'joseph'}
Lemon

In [172]:
Dic = {'My', 'Name', 'and', 'age', 'is', 'Wilson', 65, 'True'}
Dic2 = Dic.pop()
print (Dic2)

age

In [260]:
Dic = ['My', 'Name', 'and', 'age','is','Wilson', 65,'True']
Dic2 = Dic.replace("Wilson", "Kapembwa") 
print(Dic)

AttributeError: 'list' object has no attribute 'replace'